DATABASE_URL=""
NODE_ENV="development"
PORT=5009
BCRYPT_SALT_ROUNDS=12
JWT_SECRET="YOUR SECRET" 
EXPIRES_IN="30d"
REFRESH_TOKEN_SECRET="YOUR SECRET"
REFRESH_TOKEN_EXPIRES_IN="30d"
RESET_PASS_TOKEN="YOUR TOKEN SECRET"
RESET_PASS_TOKEN_EXPIRES_IN="5m"
RESET_PASS_LINK=""
EMAIL = ""
APP_PASS = ""

DO_SPACE_ENDPOINT=""
DO_SPACE_ORIGIN_ENDPOINT=""
DO_SPACE_ACCESS_KEY=""
DO_SPACE_SECRET_KEY=""
DO_SPACE_BUCKET=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
ENVIRONMENT_VARIABLE=""

PAYSTACK_SECRET_KEY=""

PAYFAST_SANDBOX_URL=""
PAYFAST_LIVE_URL=""
PAYFAST_MERCHANT_ID=""
PAYFAST_MERCHANT_KEY=""
PAYFAST_PASSPHRASE=""
PAYFAST_SANDBOX=true